
}
.logo{
    font-size: 4px;
  text-decoration: none;
        color: #ffffff;
        font-weight: bold;
        display: flex;
 }
.fa-users{
  margin-top: 3px;
  padding: 2px;
  font-size: 4px;
}
.p{
  font-size: 10px;
}
}
